<a href="https://colab.research.google.com/github/jagadeesh6655/python/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=("orange",)
print(type(a))

#NOT a tuple
a=("orange")
print(type(a))

<class 'tuple'>
<class 'str'>

In [8]:

tuple1 = ("rohit", "rahul", "dhawan")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('rohit', 'rahul', 'dhawan')
(1, 5, 7, 9, 3)
(True, False, False)

In [9]:
a= ("blue","green","yellow","orange","red")
print(a[:3])

('blue', 'green', 'yellow')

In [10]:
a= ("blue","green","yellow","orange","red")
print(a[2:])

('yellow', 'orange', 'red')

In [13]:
a= ("blue","green","yellow","orange","red","brown","skyblue")
print(a[-5:-2])

('yellow', 'orange', 'red')

In [14]:
##check orange is present in the tuple
a= ("blue","green","yellow","orange","red")
if "orange" in a:
    print("yes,'orange' is in the given tuple")

yes,'orange' is in the given tuple

In [19]:
a =("blue","green","yellow","red")
y = list(a)
y.append("orange")
a = tuple(y)

print(a)

('blue', 'green', 'yellow', 'red', 'orange')

In [21]:
a=("blue","green","yellow","red")
y = ("orange",)
a += y

print(a)

('blue', 'green', 'yellow', 'red', 'orange')

In [22]:
a =("blue","green","yellow","red")
y = list(a)
y.remove("yellow")
a = tuple(y)

print(a)

('blue', 'green', 'red')

In [29]:
a =("blue","green","yellow")

(apple, banana, orange) =  a 

print(apple)
print(banana)
print(orange)

blue
green
yellow

In [30]:
a= ("blue","green","yellow","orange","red","brown","skyblue")
(apple, banana, *orange) =  a 
print(apple)
print(banana)
print(orange)

blue
green
['yellow', 'orange', 'red', 'brown', 'skyblue']

In [34]:
a= ("blue","green","yellow","orange","red","brown","skyblue")
for i in range(len(a)):
  print(a[i])

blue
green
yellow
orange
red
brown
skyblue